#achievements {
    margin-top: 4rem;
    margin-left: 6rem;
    margin-right: 6rem;
}

#slider {
    margin: 0 auto;
    width: 870px;
    max-width: 100%;
    text-align: center;
    position: relative; 
}

#slider input[type=radio] {
    display: none;
}

#slider label {
    cursor: pointer;
    text-decoration: none;
}

#slides {
    padding: 10px;
    border: 5px double #f4f2f2;
    background: #536163;
    height: 420px;
    position: relative;
    z-index: 1;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(225, 219, 219, 0.909);
}

#overflow {
    width: 100%;
    overflow: hidden;
}

#slide1:checked ~ #slides .inner {
    margin-left: 0;
}

#slide2:checked ~ #slides .inner {
    margin-left: -100%;
}

#slide3:checked ~ #slides .inner {
    margin-left: -200%;
}

#slide4:checked ~ #slides .inner {
    margin-left: -300%;
}

#slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 1;
    height: 390px;
    display: flex;
}

#slides .slide {
    width: 25%;
    display: flex;
    padding: 2px;
    box-sizing: border-box;
    text-align: left; 
    height: 100%;
    color: #fff;
}
#slides .slide-content {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    gap: 1rem;
}

#slides .slide-content h2 {
    margin-bottom: 1rem; 
    font-size: 1.5rem;
    font-weight: bold;
}

#slides .slide-content ul {
    list-style-type: disc;
    padding-left: 20px; 
    margin: 0;
    width: 100%; 
}

#slides .slide-content h2, 
#slides .slide-content ul {
    flex: 1; 
}

#slides .slide-content ul li {
    margin-bottom: 5px;
    font-size: 0.95rem;
    line-height: 1.4;
    list-style-position: outside;
    margin-left: 2rem;
}

#achievementImage{
    text-align: right;
    flex-shrink: 0;
    width: 300px;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-right: 2rem;
}

#achievementImage img {
    max-width: 100%; 
    height: auto; 
    border-radius: 8px; 
    border: 4px solid rgb(0, 16, 18); 
    border-radius: 8px; 
    box-shadow: 4px 4px 10px  rgba(213, 207, 207, 0.1); 
}

.clipInsights, .Preply{
    margin-top: 2rem;
    flex-direction: column;
    gap: 10px;
}

.clipInsights img, .Preply img {
    width: 100%;
    height: 160px !important; 
    object-fit: cover; 
    box-shadow: 4px 4px 10px  rgba(213, 207, 207, 0.1); 
}

#slides .slide_1 {
    border-radius: 4px;

    background: #00171F;
}

#slides .slide_2 {
    background: #003459;
}

#slides .slide_3 {
    background: #104151;
}

#slides .slide_4 {
    background: #152461;
}

#controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 3;
    margin-top: -50px;
}
#prevBracket{
    margin-left: -70px;
}
#nextBracket{
    margin-right: -70px;
}
#controls label {
    font-size: 50px; 
    color: white;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

#controls label:hover {
    opacity: 1;
}

#bullets {
    margin: 20px 0 0;
    text-align: center;
}

#bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #ccc;
    margin: 0 10px;
}

#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
    background: cyan;
}

#mobileImage{
    display: none;
}

@media (max-width: 480px) {
    #achievements {
        margin-left: 1rem;
        margin-right: 1rem;      
    }

    #slider {
        width: 100%; 
    }
    #slides {
        padding: 15px;
        height: 630px;
    }
    #slides .inner {
        width: 400%;
        height: 590px;
        display: flex;
    }
    #slides .slide-content {
        display: flex; 
        flex-direction: column;
        justify-content: flex-start; 
        gap: 1rem; 
    }
    #slides .slide-content h2 {
        margin-bottom: 1rem; 
        font-size: 1.5rem;
        font-weight: bold;
    }
    #mobileImage{
        display: block;
        margin: 0.7rem auto 0.9rem;
        border: none;
        width: 300px;
        max-width: 90%; 
    }
    #slides .slide-content ul {
        padding-left: 0px; 
        margin: 0;
        width: 100%; 
    }
    #slides .slide-content ul li {
        font-size: 0.8rem;
        margin-left: 1.2rem;
        margin-right: 0.4rem;
    }
    #achievementImage{
        display: none;
    }


    #controls label {
        display: none;
    } 

}

@media (min-width: 481px) and (max-width: 1020px) {
    #achievements {
        margin-left: 1rem;
        margin-right: 1rem;      
    }

    #slider {
        width: 100%; 
    }
    #slides {
        padding: 15px;
        height: 630px;
    }
    #slides .inner {
        width: 400%;
        height: 590px;
        display: flex;
    }
    #slides .slide-content {
        display: flex; 
        flex-direction: column;
        justify-content: flex-start; 
        gap: 1rem; 
    }
    #slides .slide-content h2 {
        margin-bottom: 1rem; 
        font-size: 1.5rem;
        font-weight: bold;
    }
    #mobileImage{
        display: block;
        margin: 0.7rem auto 0.9rem;
        border: none;
        width: 400px;
        height: 200px;
        max-width: 90%;
    }
    #slides .slide-content ul {
        padding-left: 0px; 
        margin: 0;
        width: 100%; 
    }
    #slides .slide-content ul li {
        font-size: 1.1rem;
        margin-left: 1.2rem;
        margin-right: 0.4rem;
    }
    #achievementImage{
        display: none;
    }


    #controls label {
        display: none;
    } 
}



@media (min-width: 1300px) {
    #achievements {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    
    #slider {
        width: 1200px;
    }

    #slides {
        padding: 20px;
        height: 500px;
    }
    #slides .inner {
        height: 460px;
    }
    #slides .slide-content h2 {
        top: 1rem;
        margin-bottom: 1rem; 
        font-size: 3rem;
    }
    #slides .slide-content ul {
        padding-left: 20px; 
    }
    #slides .slide-content ul li {
        font-size: 1.2rem;
    }
    
}
